{% load bootstrap4 %}{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Personal Gallery</title>
 {% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% endblock %}
</head>

<body>
  {% include "navbar.html" %}
  <div class="container">
    {% block content %}{% endblock %} {% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery-3.4.1.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/scripts.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    {% bootstrap_javascript %} {% endblock %}
  </div>

</html>