{% extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="container-fluid">
  <div class="row">

    <div class="carousel-inner">
      <div class="carousel-item  active ">
        <img src="https://images.pexels.com/photos/1674049/pexels-photo-1674049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="main picture" width="100%"
          height="600">
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to the Online Personal Gallery</h1>
              <h4 style="font-family: 'Oregano', cursive; font-size: 800;">“Explore the vast resource for pictures from different”</h4>
        </div>
      </div>





    </div>
  </div>

  <div class="row" style="margin-top:10px;">
    {% for image in images %}
    <div class="col-md-4">

      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="{{ image.image_path.url }}" alt="Image" id="img{{image.id}}"
            data-toggle="modal" data-target="#{{image.id}}" height=250px>
          <div class="card-body">
            <h5 class="card-title">{{image.image_name}}</h5>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle" style="color: black">{{image.image_name}}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="{{ image.image_path.url }}" alt="Image" id="img{{photo.id}}" width=400>
          </div>
          <div class="modal-footer">
            <h5 style="color: black; font-size: 300%; font-family: 'Lobster', cursive;">{{image.description}}</h5>
            <h5 style="color: black; font-size: 200%; font-family: 'Lobster', cursive;">{{image.category}}</h5>
            <h5 style="color: black; font-size: 200%; font-family: 'Lobster', cursive;">{{image.location}}</h5>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="row">
      <h1 class="text-center">No Uploaded Images</h1>
    </div>
    {% endfor %}




    <script>
      function copyLink(id) {
        /* Get the text field */
        var copyText = document.getElementById("thislinkhere-" + id);
        /* Select the text field */
        copyText.select();
        /* Copy the text inside the text field */
        document.execCommand("copy");
        /* Alert the copied text */
        alert("Don't forget to share this link: " + copyText.value);
      }

    </script>
  </div>
</div>
{% endblock %}